<head th:fragment="head">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EpicTask</title>
    <link rel="stylesheet" type="text/css" th:href="@{~/css/global.css}">
</head>

<div class="header" th:fragment="header">
    <h1>EpicTask</h1>
    <div>
        <!--span sec:authentication="name"></span-->
        <!--span th:text="${#authentication.name}"></!--span-->
        <span sec:authentication="principal.name"></span>
        <img th:src="${'https://github.com/' + #authentication.principal.githubUsername + '.png'}" alt="João" class="avatar">
        <a href="/logout" title="sair">
            <span class="material-icons">logout</span>
        </a>
    </div>
</div>

<nav th:fragment="menu(page)">
    <ul>
        <li th:classappend="${page == 'undone'}?active"><a href="/task">Pendentes</a></li>
        <li th:classappend="${page == 'complete'}?active"><a href="/task?complete=true">Concluídas</a></li>
        <!--li sec:authorize="hasRole('ADMIN')"><a href="#">Usuários</a></!--li-->
        <li th:classappend="${page == 'user'}?active" sec:authorize-url="/user"><a href="/user">Usuários</a></li>
    </ul>
</nav>